body {
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

#wrapper {
    background: #ccc;
    width: 1000px;
}

#top {
    height: 70px;
}

h1 {
    width: 200px;
    float: left;
    height: 40px;
    background: mediumpurple;
    text-align: center;
    padding: 15px 0;
}

#ad {
    width: 760px;
    float: left;
    height: 30px;
    background: cornflowerblue;
    padding: 20px;
}

.col {
    float: left;
    height: 200px;
    background: palevioletred;
    width: 240px;
    margin-left: 8px;
}

.clear {
    clear: both;
    float: none;
}

button {
    margin: 15px;
    background: #444;
    color: #fff;
    font-size: 28px;
    border: 2px solid #444;
    border-radius: 5px;
    padding: 5px 15px;
    transition: all ease-in-out 0.5s;
    opacity: 0.7;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}